<template>
  <div class="menu-cover">
    <img
      class="menu-cover__picture"
      src="https://downloads.ctfassets.net/hx81nuoo3d0f/1hsu2oW5rpNkJSHO41Z759/fbafaf045dd82f14a6f6aa95e6c2f809/photo-5-2.png?fm=webp&w=1920"
      alt="Boat"
    >
  </div>
</template>

<style lang="scss" scoped>
.menu-cover {
  position: relative;
  overflow: hidden;
  padding: 3rem;
}

.menu-cover__picture {
  object-fit: cover;
  // position: absolute;
  height: 100%;
  width: 100%;
}
</style>
