@mixin hide-scrollbar {
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin move-forward ($value) {
  --scale: calc(1 + (#{$value} * -1) / var(--parallax-perspective));
  --transform: calc(#{$value} * 1px);
  transform: translateZ(var(--transform)) scale(var(--scale));
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin button-black {
  font-family: "Orpheus Pro", serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  border-radius: 0.14em;
  background: #110703;
  padding: 0.7em 1.8em;
}