*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div, span, p, section, button {
  user-select: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
}