@import 'vars';

h1 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 5.556rem;
  letter-spacing: 0.029em;
  line-height: 1.22em;

  @media screen and (min-width: $large) {
    font-size: 6.111rem;
  }

  @media screen and (min-width: $extraLarge) {
    font-size: 7.056rem;
  }
}

h2 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 2.667rem;
  letter-spacing: 0.029em;
}

h3 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 1.889rem;
  letter-spacing: 0.29em;
}

h4 {
  font-family: "Orpheus Pro", serif;
  font-weight: 500;
  font-size: 1.556rem;
  letter-spacing: 0.19em;
  
}

h4 {
  font-family: "Orpheus Pro", serif;
  font-weight: 600;
  font-size: 1.033rem;
  letter-spacing: 0.1em;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 2em;
}

// h1,
// h2,
// h3 {
//   color: #f3f3f3
// }